html,
body {
    font-family: "Roboto", sans-serif;
}

body{
  padding-top: 60px;
}

.img-circle {
    border-radius: 50%;
}


.display-inline{
    display: inline;
}

#header {
    background-color: #4285f4;
}

a{
  color: #03a9f4;
}

h2{
  color: #757575;
}

.white-text{
  color: white;
}

.white7-text{
  color: rgba(255,255,255,.7);
}

.dark-grey{
  background: #424242;
}

#footerContacts{
  background: #616161;
}

.flex-menu{
  position: fixed;
  width: 100%;
  background: white;
  padding: 0;
  top: 0;
  border-bottom: 1px solid #eee;
}

.menu-button{
  margin: 0;
  padding: 20px;
}

.menu-button:hover{
  background-color: #f3f3f3;
}

@media only screen and (min-width: 750px) {
  #skills.flex-box {
    flex-direction: column;
  }
}